.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
  }
}

.side-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  background-color: var(--color-white);
  z-index: 10001;
  padding: 3%;
  visibility: hidden;


  &.is-visible {
    visibility: visible;
    transition: visibility 1s 1s;
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;

    width: 40%;

    @media (min-width: 769px) and (max-width: 992px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 70%;
      padding: 5%;
    }

    @media (max-width: 500px) {
      width: 90%;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: var(--font-title-size);
      font-family: 'Segoe UI Regular';
    }

    .btn {
      font-size: var(--font-small-size);

      @media (max-width: 500px) {
        padding: 3px;
      }

      .fa-close {
        background-color: #f2f2f2;
        padding: 5px 6px;
        border-radius: 25px;
        color: #aaa;
        margin-left: 5px;
      }
    }
  }

  .body {
    margin-top: 20px;
  }
}