.page-my-videos {
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;

    .title {
      text-align: center;
      font-size: var(--font-title-size);
      margin: 0;
    }

    .btn-upload {
      position: absolute;
      right: 0;

      @media (max-width: 767px) {
        width: 55px;
        height: 55px;
        border-radius: 33px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        bottom: 22px;
        position: fixed;
        right: 22px;
        z-index: 1000;
        box-shadow: 1px 2px 6px rgba(0,0,0,.3);

        span {
          display: none;
        }

        .fa {
          margin: 0;
          color: #fff;
          &::before {
            content: "\f067";
          }
        }
      }
    }
  }

  .video-list {
    margin: 15px 0;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .nav-navigation {
    display: flex;
    justify-content: center;
  }
}