.page-my-videos {
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;

    .title {
      text-align: center;
      font-size: var(--font-title-size);
      margin: 0;
    }

    .btn-upload {
      position: absolute;
      right: 0;
    }
  }

  .video-list {
    margin: 15px 0;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .nav-navigation {
    display: flex;
    justify-content: center;
  }
}